nav {
    min-width: 200px;
    a {
        color: #62656C;
        text-decoration: none;
        &.active {
            color: black;
            font-weight: 500;
            border-left: 4px solid #2678FF;
        }
    }
}