.main {
    position: relative;
    width:100%;
    margin: auto;
    overflow: auto;
    max-height: 590px;
    
    table {
        td {
            min-width: 45px;
            height: 35px;
            div {
                height: 100%;
            }
        }

        
    }
}

.holder {
    background: red;
    min-width: 100%;
}

.holder2 {
    background: #F8F8F8;
    width: 43px;
    padding: 10px 0;
    font-weight: normal;
}

.country {
    font-weight: normal;
}

.main thead th {
    position: sticky;
    top: 0;
    .category {
        width: 100%;
        background: blue;
        
    }
    
    &.teams-sort {
        top: 100%;
        i {
            color: #2678FF;
            cursor: pointer;
        }
    }

}

.category {    
    writing-mode:vertical-rl;
    transform: rotate(-180deg);
    white-space: nowrap;

    // prevent rotation of icon
    i {
        color: #BFC7D0;
        transform: rotate(180deg);
    }
}




tbody th:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
}

thead th:first-child {
  z-index: 5;
}

tbody th {
    white-space: nowrap;
}

tbody tr:first-child th:first-child {
    font-weight: 600;
}

.country {
    padding: 0;
    div {
        background: #F8F8F8 !important;
        height: 33px;
    }
}