.main {
    position: relative;
    width:100%;
    // z-index: 1;
    margin: auto;
    overflow: auto;
    height: 350px;
    
    table {
        // border-spacing: 10px;
        td, th {
            // padding: 2px;
        }
        td {
            min-width: 45px;
            height: 35px;
            div {
                height: 100%;
            }
        }
    }
    // table {
    //     border-spacing: 10px;
    //     td, th {
    //         padding: 2px;
    //         div {
    //             padding: 5px;
    //         }
    //     }
    // }
}

.holder {
    background: red;
    min-width: 100%;
}

.holder2 {
    background: #F8F8F8;
    width: 43px;
    padding: 10px 0;
    font-weight: normal;
}

.country {
    font-weight: normal;
}

.main thead th {
    position: sticky;
    top: 0;
    .category {
        width: 100%;
        background: blue;
        
    }
    // color: #fff;
    
    

}

.category {    
    writing-mode:vertical-rl;
    transform: rotate(-180deg);
    white-space: nowrap;

    // prevent rotation of icon
    i {
        color: #BFC7D0;
        transform: rotate(180deg);
    }
}




tbody th:first-child {
    
    position: sticky;
    left: 0;
    z-index: 2;
    // background: green;
}

thead th:first-child {
  z-index: 5;
}

tbody th {
    white-space: nowrap;
}

tbody tr:first-child th:first-child {
    font-weight: 600;
}

.country {
    padding: 0;
    div {
        background: #F8F8F8 !important;
        // background: red !important;
        height: 33px;
    }
}