.page {
    background: #F8F8F8;
    height: 100%;

    .page-title {
        font-size: 30px;
        font-weight: bold;
    }

    .page-body {
        height: calc(100% - 50px);
        background: white;
    }
}